MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=mindmirror
MOOD_MODEL_DIR=models/mood_regression_model
MOOD_MODEL_ALLOW_ZIP_FALLBACK=false
# Enable only if you want auto-extract from a zip:
# MOOD_MODEL_ZIP=/Users/krishnasiddharth/Downloads/mood_model.zip
